@tailwind base;
@tailwind components;
@tailwind utilities;

.placeholder-italic::placeholder{
    @apply italic
  }

  .checked input:checked ~ span {
    @apply bg-red-400
  }

  .todo-footer::after,.todo-footer::before
  {
  content: '';
  position: absolute;
  z-index: -2;
  
  bottom: -10px;
  left: 50%;
  width: 98%;
  height: 30px;
  overflow: hidden;
  border-width: 2px;
  transform: translateX(-50%)

}

.todo-footer::before
  {
  z-index: -1;
  bottom: -5px;
  width: 99%;
}


