*{
  box-sizing: border-box;
}

.shadow-top{
  box-shadow: 1px -1px 4px .5px rgba(216, 214, 214, 0.801);
}

.todo-footer::after,.todo-footer::before
{
 background-color: red;
 border: 1px solid #cec2c2;
 box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.hover-todos > li {
  cursor: pointer;
}
.hover-todos > li:hover{
  border: 1px solid rgb(224, 96, 96);
}